@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SallesWebMVC</h1>
    <p>This is project for C# course</p>
    <p>Student: Thiago Vinicius</p>
    <address>
        <Strong>More works: </Strong><a href="https://thiagovinialmeida.github.io/portfolio/">Portfolio.<a/>
    </address>
</div>
